<section 
  class="{% if backgroundImage %}has-image{% endif %} masthead d-flex justify-content-center align-items-center"
  {% if backgroundImage %}
    {% set image = Image(backgroundImage) %}
    style="background-image: url({{ image.src }});"
  {% endif %}
>
  <div class="overlay"></div>
  <div class="wrapper">
    <h1>{{ header }}</h1>
    {% if subheader %}
      <p class="subheader highlight">{{ subheader }}</p>
    {% endif %}

    {% if masthead_social %}
    <div class="masthead__social">
      {% for social in masthead_social %}
        {% if social.link %}
          <a href="{{ social.link }}" target="_blank" rel="nofollow" aria-label="{{ social.name }}"><i class="{{ social.icon }}"></i></a>
        {% endif %}
      {% endfor %}
    </div>
    {% endif %}

    {% block masthead %}
    {% endblock %}
  </div>
</section>