{% if not imageDimensions %}
  {% set imageDimensions = [ 370, 247 ]%}
{% endif %}

{% if linkOverride %}
  {% set linkURL = linkOverride %}
{% else %}
  {% set linkURL = details.link  %}
{% endif %}

{% if not linkTarget %}
  {% set linkTarget = "_self" %}
{% endif %}

<article class="d-flex flex-column justify-content-between article-card">
  <header>
    <a href="{{ linkURL }}" target="{{ linkTarget }}" aria-label="Read more about '{{ details.title|esc_attr }}'">
      {% if details.thumbnail %}
        <img src="{{ details.thumbnail.src|resize(imageDimensions[0], imageDimensions[1])}}" width="{{imageDimensions[0]}}" height="{{imageDimensions[1]}}" alt="{{ details.thumbnail.alt }}" loading="lazy" />
      {% else %}
        <img src="https://placekitten.com/{{imageDimensions[0]}}/{{imageDimensions[1]}}" width="{{imageDimensions[0]}}" height="{{imageDimensions[1]}}" alt="No image found, displaying a kitten." loading="lazy" />
      {% endif %}
    </a>

    {% if showMeta %}
      {% include "partials/content/meta.twig" %}
    {% endif %}
  </header>
  <div class="post-details">
    <h3><a href="{{ linkURL }}" target="{{ linkTarget }}">{{ details.title }}</a></h3>
    <div class="wysiwyg-content">
      {% if details.post_excerpt %}
        {{ details.post_excerpt }}
      {% else %}
        {{ details.content|excerpt(15) }}
      {% endif %}
    </div>
  </div>
  {% if showReadMore == true %}
  <footer>
    <a href="{{ linkURL }}" target="{{ linkTarget }}" aria-label="Read more about '{{details.title|esc_attr}}'">Read More</a>
  </footer>
  {% endif %}
</article>