<!doctype html>
  <!--[if lt IE 9]><html class="no-js no-svg ie lt-ie9 lt-ie8 lt-ie7" {{ site.language_attributes }}> <![endif]-->
  <!--[if IE 9]><html class="no-js no-svg ie ie9 lt-ie9 lt-ie8" {{ site.language_attributes }}> <![endif]-->
  <!--[if gt IE 9]><!--><html class="no-js no-svg" {{ site.language_attributes }}> <!--<![endif]-->
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

		{% if not devMode %}
			<!-- Plausible Analytics @ https://plausible.io/docs -->
			<script defer data-domain="bethchernes.com" src="//plausible.io/js/script.js"></script>

			<!-- GA Google Analytics @ https://m0n.co/ga -->
			<script async src="//www.googletagmanager.com/gtag/js?id=UA-164342439-1"></script>
			<script>
				window.dataLayer = window.dataLayer || [];
				function gtag(){dataLayer.push(arguments);}
				gtag('js', new Date());
				gtag('config', 'UA-164342439-1');
			</script>
			
			<!-- Google Tag Manager -->
			<script>
				(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
				new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
				j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
				'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
				})(window,document,'script','dataLayer','GTM-M6GKPN2');
			</script>
			<!-- End Google Tag Manager -->

			<!-- Facebook Verification -->
			<meta name="facebook-domain-verification" content="wbh8whytdzy0ws4n26c593cz7yubqu" />
		{% endif %}

    {{ function('wp_head') }}
  </head>

	<body class="{{body_class}}">
	
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-M6GKPN2"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
	
	<a class="sr-only sr-only-focusable" href="#content">Skip to content</a>
		
		<nav class="navbar navbar-expand-lg layout-header sticky-top">
			<div class="container">
				<a class="navbar-brand" href="{{ site.home_url }}" aria-label="go to homepage"><img src="{{ logo.src }}" alt="{{ site.name}}" width="444" height="107" /></a>
				<label for="nav-toggle-status" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle Navigation">
					<svg viewBox="0 0 100 80" width="30" height="30">
						<rect width="100" height="10"></rect>
						<rect y="30" width="100" height="10"></rect>
						<rect y="60" width="100" height="10"></rect>
					</svg>
				</label>
				<input id="nav-toggle-status" name="nav-toggle-status" type="checkbox"/>
				<div class="collapse navbar-collapse justify-content-end">
					<ul class="navbar-nav">
						{% for item in menu.items %}
							<li class="nav-item {{ item.classes|join(' ') }} {% if item.children %}dropdown{% endif %}">
								<a href="{{ item.link }}"
									{% if item.children %}
										class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"	
									{% else %}
										class="nav-link"
									{% endif %}
								>{{ item.title }}</a>
								{% if item.children %}
									<ul class="dropdown-menu">
										{% for child in item.children %}
											<li class="sub-nav-item">
												<a class="nav-link" href="{{ child.link }}">{{ child.title }}</a>
											</li>
										{% endfor %}
									</ul>
                {% endif %}
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</nav>

		{% block page %}
			Page not built yet and is missing content
		{% endblock %}
    
    <footer class="layout-footer">
			<div class="wrapper">
				<nav class="footer container">
					<ul class="row list-unstyled">
						<li>&copy; {{ "now"|date('Y') }} {{ copyright }}</li>
						{% for item in menu_footer.items %}
							<li class="{{ item.classes|join(' ') }}">
								<a href="{{ item.link }}">{{ item.title }}</a>
							</li>
						{% endfor %}
					</ul>
				</nav>
			</div>
    </footer>

    {{ function('wp_footer') }}

	</body>
</html>
