<!doctype html>
  <!--[if lt IE 9]><html class="no-js no-svg ie lt-ie9 lt-ie8 lt-ie7" {{ site.language_attributes }}> <![endif]-->
  <!--[if IE 9]><html class="no-js no-svg ie ie9 lt-ie9 lt-ie8" {{ site.language_attributes }}> <![endif]-->
  <!--[if gt IE 9]><!--><html class="no-js no-svg" {{ site.language_attributes }}> <!--<![endif]-->
  <head>
    <meta charset="{{ site.charset }}" />
    <meta name="description" content="{{ site.description }}" />
    <link rel="stylesheet" href="{{ site.theme.link }}/style.css" type="text/css" media="screen" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="pingback" href="{{ site.pingback_url }}" />
    <link rel="profile" href="http://gmpg.org/xfn/11" />

    {# @TODO activate #}
    {# <!-- GA Google Analytics @ https://m0n.co/ga -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-164342439-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'UA-164342439-1');
		</script> #}

    {{ function('wp_head') }}
  </head>

	<body class="{{body_class}}">
    <a class="skip-link screen-reader-text" href="#content">{{ _e( 'Skip to content') }}</a>
    
		<header class="layout-header">
			{% block header %}
				<div class="wrapper">
					<h1 class="header__logo" role="banner">
						<a class="header__logo__link" href="{{ site.url }}" rel="home">{{ site.name }}</a>
					</h1>
					<nav class="main-navigation">
						{% include "partials/menu.twig" with {'items': menu.get_items} %}
					</nav><!-- #nav -->
				</div>
			{% endblock %}
		</header>

		<section id="content" role="main" class="content-wrapper">
			{% if title %}<h1>{{title}}</h1>{% endif %}
      
      <div class="wrapper {{sidebar_class}}">
				{% block content %}
					Sorry, no content
				{% endblock %}
      </div>
      
    </section>
    
    <footer class="layout-footer">

    </footer>

    {{ function('wp_footer') }}

	</body>
</html>