<section class="module-block module--testimonials">
  <div class="container">
    {% include "partials/header.twig" with {
      title: item.module_header,
      subTitle: item.module_subheader
    } %}
    
    <ul class="list-unstyled testimonial-list" data-flickity='{ "wrapAround": true, "imagesLoaded": true, "lazyLoad": true, "autoPlay": 5000 }'>
      {% for details in item.displayItems %}
        <li class="testimonial">
          <figure class="testimonial__details quote">
              {% if details.thumbnail %}
                <img class="testimonial__photo" src="{{ details.thumbnail.src|resize(150, 150)}}" width="150" height="150" alt="{{ details.thumbnail.alt }}" />
              {% else %}
                <img class="testimonial__photo" src="https://placekitten.com/{{150}}/{{150}}" width="150" height="150" alt="No image found, displaying a kitten." />
              {% endif %}
            <blockquote class="wysiwyg-content">
              {{ details.content }}
            </blockquote>
            <figcaption>
              <cite>{{ details.get_field('name') }}</cite>
              <p class="testimonial__author-title">{{ details.get_field('title') }}</p>
            </figcaption>
          </figure>
        </li>
      {% endfor %}
      </ul>
  </div>
</section>