{% extends "layouts/base.twig" %}

{% block page %}
  {% for post in posts %}
    {% include "partials/masthead.twig" with {
      header: post.title
    } %}

    <main id="content" class="content-wrapper">
      
      <section class="archive-block">
        <div class="container has-sidebar">
          <div class="row">
            <div class="column-main col-md-7 col-lg-8">
              <article>
                <header>
                  {% if post.thumbnail %}
                    <img src="{{ post.thumbnail.src|resize(750, 450)}}" width="{{750}}" height="{{450}}" alt="{{ post.thumbnail.alt }}" loading="lazy" />
                  {% else %}
                    <img src="https://placekitten.com/{{750}}/{{450}}" width="{{750}}" height="{{450}}" alt="No image found, displaying a kitten." loading="lazy" />
                  {% endif %}

                  {% include "partials/content/meta.twig" with { 'details' : post } %}
                </header>
                <div class="post-content wysiwyg-content">
                  {{ post.content }}
                </div>
                <footer class="meta">
                  {% if post.tags %}
                    <div class="meta__group meta__group-tags"><i class="far fa-tags"></i>
                      {% for tag in post.tags %}
                        <a href="{{ tag.link }}" aria-label="View {{ tag.name|esc_attr }} Posts">{{ tag.name }}</a>
                      {% endfor %}
                    </div>
                  {% endif %}

                  {% if post.categories %}
                    <div class="meta__group meta__group-categories"><i class="far fa-hashtag"></i>
                      {% for category in post.categories %}
                        <a href="{{ category.link }}" aria-label="View {{ category.name|esc_attr }} Posts">{{ category.name }}</a>
                      {% endfor %}
                    </div>
                  {% endif %}
                </footer>
              </article>

              <div class="comments">
                {{ function('comments_template') }}
              </div>
            </div>

            {{ sidebar }}
          </div>
        </div>
      </section>

    </main>
  {% endfor %}
{% endblock %}